<h1 class="text-center">Vos favoris</h1>

<div class="favorite_index">


      <% @favorites.each do |search, fav_cities| %>
        <div class=favorite-container>
          <div class="search-input">
            <%= form_tag cities_path, method: :get do %>
              <%= text_field_tag "location[name]", @city, required: true, placeholder: "Rechercher une ville bretonne" %>
              <div class="search-bar-main-criterias">
                <div>
                A
                <%= number_field_tag "location[max_distance_km]", @max_distance_km, min: 1, width: 1 %>
                km
                </div>

                <div>
                <%= number_field_tag "max_population", @max_population, min: 1, width: 1 %>
                habitants maximum
                </div>

                <div>
                <%= number_field_tag "max_age_average", @max_age_average, min: 18, width: 1 %>
                d'âge moyen maximum
                </div>
              </div>
              </div>

              <div class="checkboxes pt-3">

                <%= check_box_tag "supermarket", 1, params[:supermarket].present?%>
                <label for="supermarket"><i class="fas fa-shopping-cart mr-2"></i>Supermarchés</label>

                <%= check_box_tag "fibre", 1, (:checked if params[:fibre].present?) %>
                <label for="fibre"><i class="fas fa-wifi mr-2"></i>Fibre</label>

                <%= check_box_tag "doctor", 1, (:checked if params[:doctor].present?) %>
                <label for="doctor"><i class="fas fa-briefcase-medical mr-2"></i>Docteurs</label>

                <%= check_box_tag "secondary_school", 1, (:checked if params[:secondary_school].present?) %>
                <label for="secondary_school"><i class="fas fa-book mr-2"></i>Collèges et lycées</label>

                <%= check_box_tag "primary_school",1, (:checked if params[:primary_school].present?) %>
                <label for="primary_school"><i class="fas fa-child mr-2"></i>Écoles maternelles et primaires</label>

                <%= check_box_tag "network", 1, (:checked if params[:network].present?) %>
                <label for="network"><i class="fas fa-mobile-alt mr-2"></i>4G</label>

                <%= check_box_tag "commodity", 1, (:checked if params[:commodity].present?) %>
                <label for="commodity"><i class="fas fa-cash-register mr-2"></i>Commerces</label>
              </div>

              <div class="btn" data-action="click->search#navigate">
                Rechercher à nouveau
              </div>
              <%= link_to "Supprimer", saved_search_path(search), method: :delete, data: { confirm: "Supprimer ?" } %>

      <div class="favorite-city">
        <% fav_cities.each do |fav_city| %>
          <div class="favorite-card">
            <div class="fav_city_photo" style="background-image: linear-gradient(3.25deg, #788EC7 38.16%, rgba(255, 255, 255, 0) 131.88%), url(<%= fav_city.city.photo %>)">
            <%= link_to city_path(fav_city.city) do%>
                <p> <%= fav_city.city.name %> </p>
                <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
        <% end %>
      <% end %>
</div>





