<h1 class="text-center">Vos favoris</h1>

<div class="favorite_index">


  <% @favorites.each do |search, fav_cities| %>
    <%= form_with model: search do |f| %>

      <div class=favorite-container data-controller="search">
        <%= link_to saved_search_path(search), method: :delete, data: { confirm: "Supprimer ?" }, class:"saved_search_delete" do %>
          <i class="fas fa-times"></i>
        <%end%>

        <div class="search-input">
          <div class="search-bar-main-criterias">
              <%= f.text_field :start_city, "data-search-target": "startCity" %>
            <div>
              A
              <%= f.number_field :max_distance_km, "data-search-target": "maxDistanceKm", width: 1 %> km
            </div>

            <div>
              <%= f.number_field :max_population, "data-search-target": "maxPopulation", width: 1 %> habitants maximum
            </div>

            <div>
              <%= f.number_field :age_average, "data-search-target": "maxAgeAverage", width: 1 %> d'âge moyen maximum
            </div>
          </div>

          <div class="checkboxes pt-3">

            <%= f.check_box :supermarket, "data-search-target": "supermarket" %>
            <label for="supermarket"><i class="fas fa-shopping-cart mr-2"></i>Supermarchés</label>

            <%= f.check_box :fibre, "data-search-target": "fibre" %>
            <label for="fibre"><i class="fas fa-wifi mr-2"></i>Fibre</label>

            <%= f.check_box :doctor, "data-search-target": "doctor" %>
            <label for="doctor"><i class="fas fa-briefcase-medical mr-2"></i>Docteurs</label>

            <%= f.check_box :secondary_school, "data-search-target": "secondarySchool" %>
            <label for="secondary_school"><i class="fas fa-book mr-2"></i>Collèges et lycées</label>

            <%= f.check_box :primary_school, "data-search-target": "primarySchool"%>
            <label for="primary_school"><i class="fas fa-child mr-2"></i>Écoles maternelles et primaires</label>

            <%= f.check_box :network, "data-search-target": "network" %>
            <label for="network"><i class="fas fa-mobile-alt mr-2"></i>4G</label>

            <%= f.check_box :commodity, "data-search-target": "commodity" %>
            <label for="commodity"><i class="fas fa-cash-register mr-2"></i>Commerces</label>

            <div class="btn-icon" data-action="click->search#navigate">
              <i class="fas fa-search-location"></i>
            </div>

          </div>


        </div>

        <div class="fav-city-container">
          <% fav_cities.each do |fav_city| %>
            <div class="fav-city-photo" data-controller="city" data-search-target="favorites" data-city-target="marker" data-action="click->city#favorite" data-id="<%= fav_city.city.id %>" style="background-image: linear-gradient(3.25deg, #788EC7 38.16%, rgba(255, 255, 255, 0) 131.88%), url(<%= fav_city.city.photo %>)">
              <%#= link_to city_path(fav_city.city) do%>
                <p> <%= fav_city.city.name %> </p>
              <%# end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div id="show"></div>
</div>





