<% content_for :searchbar do %>
  <div class="search-navbar">
    <div class="searchbar-navbar">
      <%= text_field_tag "location[name]", nil, required: true,
       placeholder: "Recherchez une ville bretonne..." %>
    </div>

    <div class="elements-navbar">
      A
      <%= number_field_tag "location[max_distance_km]", nil, min: 1, width: 1, value: 10 %>
      km maximum
    </div>
    <div class="btn-icon" data-action="click->search#navigate">
      <i class="fas fa-search-location"></i>
    </div>

  </div>
<% end %>

<div class="text-center">
  <h1>Mon comparateur</h1>
  <div class="comparator-wrapper">
    <div class="legend">
      <div class="hiding"></div>
      <div class="features">
        <p>Age moyen</p>
        <p>Ecoles primaires et secondaires</p>
        <p>Collèges et lycées</p>
        <p>Supermarchés</p>
        <p>Médecins</p>
        <p>Commerces</p>
        <p>Fibre</p>
        <p>4G</p>

      </div>
    </div>
    <% @compared_cities.each do |compared_city| %>
      <div class="compared-city">
        <div class="compared-city-header">
          <h2><%= compared_city.city.name %></h2>
          <p> <%= compared_city.city.population %> habitants</p>
        </div>
        <div class="features">
          <p><%= compared_city.city.age_average %></p>
          <% if compared_city.city.primary_school %>
            <p><span style= "color:#0A7C06"><i class="fas fa-check-circle"></i></span></p>
          <% else %>
            <p><span style= "color:#B4BCCC"><i class="fas fa-times-circle"></i></span></p>
          <% end %>
          <% if compared_city.city.secondary_school %>
            <p><span style= "color:#0A7C06"><i class="fas fa-check-circle"></i></span></p>
          <% else %>
            <p><span style= "color:#B4BCCC"><i class="fas fa-times-circle"></i></span></p>
          <% end %>
          <% if compared_city.city.supermarket %>
            <p><span style= "color:#0A7C06"><i class="fas fa-check-circle"></i></span></p>
          <% else %>
            <p><span style= "color:#B4BCCC"><i class="fas fa-times-circle"></i></span></p>
          <% end %>
          <% if compared_city.city.doctor %>
            <p><span style= "color:#0A7C06"><i class="fas fa-check-circle"></i></span></p>
          <% else %>
            <p><span style= "color:#B4BCCC"><i class="fas fa-times-circle"></i></span></p>
          <% end %>
          <% if compared_city.city.commodity_count %>
            <p><span style= "color:#0A7C06"><i class="fas fa-check-circle"></i></span></p>
          <% else %>
            <p><span style= "color:#B4BCCC"><i class="fas fa-times-circle"></i></span></p>
          <% end %>
          <p> <%= compared_city.city.fibre %>%</p>
          <p> <%= compared_city.city.network %>%</p>
        </div>
      <%= link_to "Supprimer", compared_city_path(compared_city), method: :delete, data: { confirm: "Supprimer ?" } %>
      </div>
    <% end %>


  </div>



</div>

<i class="fas fa-times-circle"></i>
<i class="fas fa-check-circle"></i>

<span style= "color:#0A7C06"><i class="fas fa-check-circle"></i></span>
<span style= "color:#B4BCCC"><i class="fas fa-times-circle"></i></span>
