<div class="text-center">
  <h1>Mon comparateur</h1>
  <div class="comparator-wrapper">
    <div class="legend">
      <div class="hiding"></div>
      <div class="features">
        <p>Age moyen</p>
        <p>Ecoles primaires et secondaires</p>
        <p>Collèges et lycées</p>
        <p>Supermarchés</p>
        <p>Médecins</p>
        <p>Commerces</p>
        <p>Fibre</p>
        <p>4G</p>

      </div>
    </div>
    <% @compared_cities.each do |compared_city| %>
      <div class="compared-city">
        <div class="compared-city-header">
          <h2><%= compared_city.city.name %></h2>
          <p> <%= compared_city.city.population %> habitants</p>
        </div>
        <div class="features">
          <p> <%= compared_city.city.age_average %></p>
          <p> <%= compared_city.city.primary_school %></p>
          <p> <%= compared_city.city.secondary_school %></p>
          <p> <%= compared_city.city.supermarket %></p>
          <p> <%= compared_city.city.doctor %></p>
          <p> <%= compared_city.city.commodity_count %></p>
          <p> <%= compared_city.city.fibre %>%</p>
          <p> <%= compared_city.city.network %>%</p>
        </div>
      <%= link_to "Supprimer", compared_city_path(compared_city), method: :delete, data: { confirm: "Supprimer ?" } %>
      </div>
    <% end %>


  </div>



</div>
