<div class="city-card">
  <div class="favorite-percent" data-controller="favorite" data-favorite-url-value="<%= city_favorites_path(@city, params.permit!) %>">

      <div class="city-card-favorite">
        <i class="<%= @is_favorite ? "fas" : "far" %> fa-star" data-favorite-target="star" data-city="<%= @city.id %>" data-action="click->favorite#toggle"></i>
        <span class="city_header_stat" data-favorite-target="span"><%= @is_favorite ? "Retirer des favoris" : "Ajouter aux favoris" %></span>
      </div>


    <div class="city-card-comparator" data-controller="compared" data-compared-url-value="<%= city_compared_cities_path(@city) %>">

        <i class="<%= @is_compared ? "fas fa-clipboard-check" : "far fa-clipboard" %>" data-compared-target="clipboard" data-action="click->compared#toggle"></i>
        <span class="city_header_stat" data-compared-target="span"><%= @is_compared ? "Retirer du comparateur" : "Ajouter au comparateur" %></span>

    </div>
  </div>

  <div class="cross-close" data-controller="city" data-action="click->city#close"><i class="fas fa-times"></i>
  </div>


    <div class="city_show_header" style="background-image: linear-gradient(3.25deg, #788EC7 38.16%, rgba(255, 255, 255, 0) 131.88%), url(<%= @city.photo %>)">
      <div class="city_header_stat">
        <p><%= @city.population %> habitants</p>
      </div>
      <div class="city_name_rating">
        <h2><%= @city.name %></h2>
          <!-- Set city rating color depending on user selection and city match values -->
          <% if @city_rating >= @city_rating_middle_threshold %>
            <span style= "background-color:#0A7C06"> <%= @city_rating %> % </span>

          <% elsif @city_rating >= @city_rating_lower_threshold && @city_rating < @city_rating_middle_threshold %>
            <span style= "background-color:#D8841D"> <%= @city_rating %> % </span>

          <% else %>
            <span style= "background-color:#D94111"> <%= @city_rating %> % </span>
          <% end %>
      </div>

      <% if @city_rating >= @city_rating_middle_threshold %>
          <div class="progress-bar" style="width:calc(<%= @city_rating %>% + 36px); background-color:#0A7C06"> </div>
      <% elsif @city_rating >= @city_rating_lower_threshold && @city_rating < @city_rating_middle_threshold %>
          <div class="progress-bar" style="width:calc(<%= @city_rating %>% + 36px); background-color:#D8841D"> </div>
      <% else %>
          <div class="progress-bar" style="width:calc(<%= @city_rating %>% + 36px); background-color:#D94111"> </div>
      <% end %>
    </div>
    <div class="city_show_content">
      <div class="city_description">
        <p><%= @city.description %></p>
      </div>
      <div class="wiki_link">
        <% city_wiki_url = "https://fr.wikipedia.org/wiki/#{@city.name}" %>
        <%= link_to "En savoir plus...", city_wiki_url, target: "_blank" %>
      </div>
    <div class="city_main_filters">
      <!-- Set commodity criteria color depending on user selection and city match values -->
        <div class="market-price">
          <span class="city_main_filters_titles">Prix du marché</span>
          <span><%= @city.house_marketprice %> €/m<sup>2</sup></span>
        </div>

        <div class="average-age">
          <span class="city_main_filters_titles">Age moyen</span>
          <span> <%= @city.age_average %> ans</span>
        </div>

      <div class="commodity">
        <span class="city_main_filters_titles">Commerces</span>
        <span> <%= @city.commodity_count %> </span>
        <!-- <% if @commodity_presence && @city.commodity_count > @commodity_count_threshold %>
          <span style= "color:#0A7C06"> Commerces : </span>
          <span> <%= @city.commodity_count %> </span>

        <% elsif @commodity_presence == false %>
          <span style= "color:#B4BCCC"> Commerces : </span>
          <span> <%= @city.commodity_count %> </span>

        <% else %>
          <span style= "color:#D94111"> Commerces : </span>
          <span> <%= @city.commodity_count %></span>
        <% end %> -->
      </div>


    </div>


    <!-- see cities controller for following thresholds variables -->

    <!-- Set doctor criteria color depending on user selection and city match values -->
    <div class="city_filters">
      <% if @doctor_presence && @city.doctor %>
        <div class="doctor">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Docteurs </span>
        </div>
         <% elsif @doctor_presence && @city.doctor == false %>
        <div class="doctor">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Docteurs </span>
        </div>
        <% end %>


    <!-- Set network criteria color depending on user selection and city match values -->
      <% if @network_presence && @city.network.to_f >= @network_fibre_threshold %>
        <div class="network">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Couverture 4G </span>
          <% @city.network = 100 if @city.network.to_f > 100 %>
          <span style= "color:#0A7C06"><%= (@city.network.to_f).round %></span>
          <span style= "color:#0A7C06">%</span>
        </div>

      <% elsif @network_presence && @city.network.to_f < @network_fibre_threshold %>
        <div class="network">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Couverture 4G </span>
          <span style= "color:#D94111"><%= (@city.network.to_f).round %></span>
          <span style= "color:#D94111">%</span>
        </div>
      <% end %>


    <!-- Set fibre criteria color depending on user selection and city match values -->
      <% if @fibre_presence && @city.fibre.to_f >= @network_fibre_threshold %>
        <div class="fibre">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Couverture fibre </span>
          <% @city.fibre = 100 if @city.fibre.to_f > 100 %>
          <span style= "color:#0A7C06"><%= (@city.fibre.to_f).round %> </span>
          <span style= "color:#0A7C06">%</span>
        </div>

      <% elsif @fibre_presence && @city.fibre.to_f < @network_fibre_threshold  %>
        <div class="fibre">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Couverture fibre </span>
          <span style= "color:#D94111"><%= (@city.fibre.to_f).round %></span>
          <span style= "color:#D94111">%</span>
        </div>
      <% end %>


    <!-- Set supermarket criteria color depending on user selection and city match values  -->
      <% if @supermarket_presence && @city.supermarket %>
        <div class="supermarket">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Supermarchés </span>
        </div>
      <% elsif @supermarket_presence && @city.supermarket == false %>
        <div class="supermarket">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Supermarchés </span>
        </div>
      <% end %>

      <% if @primary_school_presence && @city.primary_school %>
        <div class="primary_school">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Maternelles et primaires </span>
        </div>
      <% elsif @primary_school_presence && @city.primary_school == false %>
        <div class="primary_school">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Maternelles et primaires </span>
        </div>
      <% end %>

      <% if @secondary_school_presence && @city.secondary_school %>
        <div class="secondary_school">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Collèges et lycées </span>
        </div>
      <% elsif @secondary_school_presence && @city.secondary_school == false %>
        <div class="secondary_school">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Collèges et lycées </span>
      </div>
      <% end %>

    </div>

     <div class="additional_city_filters">
      <p> Autres atouts présents dans cette ville </p>
      <div class="additionnal_filters">
        <%if @doctor_presence == false && @city.doctor %>
          <div class="additional_doctor">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Docteurs </span>
        </div>
        <% end %>

        <% if @network_presence == false && @city.network.to_f >= @network_fibre_threshold %>
          <div class="additional_network">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Couverture 4G </span>
            <% @city.network = 100 if @city.network.to_f > 100 %>
            <span style= "color:#7C94CB"><%= (@city.network.to_f).round %></span>
            <span style= "color:#7C94CB">%</span>
          </div>
        <% end %>

        <% if @fibre_presence == false && @city.fibre.to_f >= @network_fibre_threshold %>
          <div class="additional_fibre">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Couverture fibre </span>
            <% @city.fibre = 100 if @city.fibre.to_f > 100 %>
            <span style= "color:#7C94CB"> <%= (@city.fibre.to_f).round %></span>
            <span style= "color:#7C94CB">%</span>
          </div>
        <% end %>

        <% if @supermarket_presence == false && @city.supermarket %>
          <div class="additional_supermarket">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Supermarchés </span>
          </div>
        <% end %>

        <% if @primary_school_presence == false && @city.primary_school %>
          <div class="additional_primary_school">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Maternelles/Primaires </span>
          </div>
        <% end %>

        <% if @secondary_school_presence == false && @city.secondary_school %>
         <div class="additional_secondary_school">
          <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Collèges et lycées </span>
          </div>
        <% end %>
        </div>

    </div>
</div>
