<div class="index-search-bar hide-search-bar" id="index-search-bar">
  <div class="search-input">
  <%= form_tag cities_path, method: :get do %>
    <%= text_field_tag "location[name]", @city, required: true, placeholder: "Rechercher une ville bretonne" %>
    <div class="search-bar-main-criterias">
      <div>
      A
      <%= number_field_tag "location[max_distance_km]", @max_distance_km, min: 1, width: 1 %>
      km
      </div>

      <div>
      <%= number_field_tag "max_population", @max_population, min: 1, width: 1 %>
      habitants maximum
      </div>

      <div>
      <%= number_field_tag "max_age_average", @max_age_average, min: 18, width: 1 %>
      d'âge moyen maximum
      </div>
    </div>
    </div>
    <div class="checkboxes">
      <%= check_box_tag "supermarket", 1, (:checked if params[:supermarket].present?)%> Supermarchés
      <%= check_box_tag "fibre", 1, (:checked if params[:fibre].present?) %> Fibre
      <%= check_box_tag "doctor", 1, (:checked if params[:doctor].present?) %> Médecin
      <%= check_box_tag "secondary_school", 1, (:checked if params[:secondary_school].present?) %> Collèges et lycées
      <%= check_box_tag "primary_school",1, (:checked if params[:primary_school].present?) %> Ecoles maternelles et primaires
      <%= check_box_tag "network", 1, (:checked if params[:network].present?) %> 4G
      <%= check_box_tag "commodity", 1, (:checked if params[:commodity].present?) %> Commerces
    </div>
    <%= submit_tag "Rechercher sur ces critères", class: "btn btn-primary" %>
    <div class="launch-search">
  <% end %>

  <%= form_for @saved_search do |f| %>
    <%= f.hidden_field :start_city, value: @city %>
    <%= f.hidden_field :max_distance_km, value: @max_distance_km %>
    <%= f.hidden_field :max_population, value: @max_population %>
    <%= f.hidden_field :age_average, value: @max_age_average %>
    <%= f.check_box :supermarket, { checked: params[:supermarket].present?, hidden: true } %>
    <%= f.check_box :fibre, { checked: params[:fibre].present?, hidden: true } %>
    <%= f.check_box :doctor, { checked: params[:doctor].present?, hidden: true } %>
    <%= f.check_box :secondary_school, { checked: params[:secondary_school].present?, hidden: true } %>
    <%= f.check_box :primary_school, { checked: params[:primary_school].present?, hidden: true } %>
    <%= f.check_box :network, { checked: params[:network].present?, hidden: true } %>
    <%= f.check_box :commodity, { checked: params[:commodity].present?, hidden: true } %>
    <%#= f.submit "Sauvegarder ces critères" %>
  <% end %>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <div id="show"> </div>
</div>

<script>

</script>

