<div class="city-card">
  <div class="favorite-percent" data-controller="favorite" data-favorite-url-value="<%= city_favorites_path(@city) %>">
    <% if current_user %>
        <i class="<%= @is_favorite ? "fas" : "far" %> fa-star" data-favorite-target="star" data-action="click->favorite#toggle"></i>
    <% else %>
        <%= link_to favorite_path(@city, params.permit!) do%>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>
<!--     <p>100%</p>
 -->  </div>

  <div class="card_body">
    <div class="city_show_header">
      <h2><%= @city.name %></h2>
      <p><%= @city.population %> habitants</p>
      <p><%= @city.description %></p>
    </div>


    <!-- see cities controller for following thresholds variables -->

    <!-- Set doctor criteria color depending on user selection and city match values -->
    <div class="doctor">
      <% if @doctor_presence && @city.doctor %>
        <span style= "color:#0A7C06"> Docteurs </span>
      <% elsif @doctor_presence == false && @city.doctor %>
        <span style= "color:#B4BCCC"> Docteurs </span>
      <% else %>
        <span style= "color:#D94111"> Docteurs </span>
      <% end %>
    </div>

    <!-- Set network criteria color depending on user selection and city match values -->
    <div class="network">
      <% if @network_presence && @city.network.to_f > @network_fibre_threshold %>
        <span style= "color:#0A7C06"> Couverture 4G : </span>
        <% @city_network = 100 if @city.network.to_f > 100 %>
        <% @city_network = @city.network.to_f %>
        <%= @city_network %>
        <span>%</span>

      <% elsif @network_presence == false %>
        <span style= "color:#B4BCCC"> Couverture 4G : </span>
        <% @city_network = 100 if @city.network.to_f > 100 %>
        <% @city_network = @city.network.to_f %>
        <%= @city_network %>
        <span>%</span>

      <% else %>
        <span style= "color:#D94111"> Couverture 4G : </span>
        <% @city_network = 100 if @city.network.to_f > 100 %>
        <% @city_network = @city.network.to_f %>
        <%= @city_network %>
        <span>%</span>
      <% end %>
    </div>


    <!-- Set fibre criteria color depending on user selection and city match values -->
    <div class="fibre">
      <% if @fibre_presence && @city.fibre.to_f > @network_fibre_threshold %>
        <span style= "color:#0A7C06"> Couverture fibre : </span>
        <% @city_fibre = 100 if @city.fibre.to_f > 100 %>
        <% @city_fibre = @city.fibre.to_f %>
        <%= @city_fibre %>
        <span>%</span>

      <% elsif @fibre_presence == false %>
        <span style= "color:#B4BCCC"> Couverture fibre : </span>
        <% @city_fibre = 100 if @city.fibre.to_f > 100 %>
        <% @city_fibre = @city.fibre.to_f %>
        <%= @city_fibre %>
        <span>%</span>

      <% else %>
        <span style= "color:#D94111"> Couverture fibre : </span>
        <% @city_fibre = 100 if @city.fibre.to_f > 100 %>
        <% @city_fibre = @city.fibre.to_f %>
        <%= @city_fibre %>
        <span>%</span>
      <% end %>
    </div>


    <!-- Set commodity criteria color depending on user selection and city match values -->
    <div class="commodity">
      <% if @commodity_presence && @city.commodity_count > @commodity_count_threshold %>
        <span style= "color:#0A7C06"> Commerces : </span>
        <%= @city.commodity_count %>

      <% elsif @commodity_presence == false %>
        <span style= "color:#B4BCCC"> Commerces : </span>
        <%= @city.commodity_count %>

      <% else %>
        <span style= "color:#D94111"> Commerces : </span>
        <%= @city.commodity_count %>
      <% end %>
    </div>

    <!-- Set supermarket criteria color depending on user selection and city match values  -->
    <div class="supermarket">
      <% if @supermarket_presence && @city.supermarket %>
        <span style= "color:#0A7C06"> Supermachés </span>

      <% elsif @supermarket_presence == false %>
        <span style= "color:#B4BCCC"> Supermachés </span>

      <% else %>
        <span style= "color:#D94111"> Supermachés </span>
      <% end %>
    </div>

    <div class="primary_school">
      <% if @primary_school_presence && @city.primary_school %>
        <span style= "color:#0A7C06"> Ecole élémentaire </span>
      <% elsif @primary_school_presence == false %>
      <span style= "color:#B4BCCC"> Ecole élémentaire </span>
      <% else %>
        <span style= "color:#D94111"> Ecole élémentaire </span>
      <% end %>
    </div>

     <div class="secondary_school">
      <% if @secondary_school_presence && @city.secondary_school %>
        <span style= "color:#0A7C06"> Enseignement secondaire </span>
      <%elsif @secondary_school_presence == false %>
        <span style= "color:#B4BCCC"> Enseignement secondaire </span>
      <% else %>
        <span style= "color:#D94111"> Enseignement secondaire </span>
      <% end %>
    </div>
    <br>

    <!-- Set city rating color depending on user selection and city match values -->
    <% if @city_rating > @city_rating_middle_threshold %>
      <span style= "color:#0A7C06"> Taux de match avec vos critères: </span>

    <% elsif @city_rating > @city_rating_lower_threshold && @city_rating < @city_rating_middle_threshold %>
      <span style= "color:#D8841D"> Taux de match avec vos critères: </span>

    <% else %>
      <span style= "color:#D94111"> Taux de match avec vos critères: </span>
    <% end %>

    <span><%= @city_rating %></span>
    <span>%</span>

  </div>



</div>
