<div class="city-card">
  <div class="favorite-percent">
    <% if current_user %>
      <%= link_to city_favorites_path(@city), method: :post do%>
        <i class="<%= @is_favorite ? "fas" : "far" %> fa-star"></i>
      <% end %>
    <% else %>
        <%= link_to favorite_path(@city) do%>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>
    <p>100%</p>
  </div>

    <p><%= @city.population %> habitants</p>
    <h2><%= @city.name %></h2>
    <p><%= @city.description %></p>
  <div class="commodity_count">
    <p><strong>Commerces</strong></p>
    <%= @city.commodity_count %>
  </div>

  <div class="primary_school">
    <% if @primary_school_presence && @city.primary_school %>
      <p style= "color:#0A7C06"> Ecole élémentaire </p>
    <% elsif @primary_school_presence == false && @city.primary_school %>
    <p style= "color:#B4BCCC"> Ecole élémentaire </p>
    <% else %>
      <p style= "color:#D94111"> Ecole élémentaire </p>
    <% end %>
  </div>

   <div class="secondary_school">
    <% if @secondary_school_presence && @city.secondary_school %>
      <p style= "color:#0A7C06"> Enseignement secondaire </p>
    <%elsif @secondary_school_presence == false && @city.secondary_school %>
      <p style= "color:#B4BCCC"> Enseignement secondaire </p>
    <% else %>
      <p style= "color:#D94111"> Enseignement secondaire </p>
    <% end %>
  </div>

</div>
